//Default values
$decoColor: #2F94CB;
$decoColor2: #B19379;
$decoColor3: #FCFCFC;

$textColor: #464646;

$fontFamily: 'Helvetica', sans-serif;
$fontFamily2: 'PlayfairDisplay', sans-serif;

$fontSize: 16px;
$h1FontSize: 40px;
$h2FontSize: 30px;
$h3FontSize: 20px;
$h4FontSize: 18px;
$h5FontSize: 16px;

$basetextLineheight: 26px;
$textLineheight: $basetextLineheight / $fontSize; //base-line-height 26px
$textLetterSpacing: 1px;

$boxContentVerticalPaddingBig: 90px;
$boxContentVerticalPadding: 70px;
$boxContentVerticalPaddingSmall: 50px;
$boxContentVerticalPaddingVerySmall: 30px;
$boxContentVerticalPaddingNone: 0px;

$sm-min-screen: 576px;
$md-min-screen: 768px;
$lg-min-screen: 992px;
$xl-min-screen: 1200px;
$xxl-min-screen: 1500px;

$sm-min-container: 540px;
$md-min-container: 720px;
$lg-min-container: 960px;
$xl-min-container: 1140px;

*{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering:geometricPrecision;
}

html, body {
    overflow-x: hidden;
}

html.opennav{
	overflow: hidden;

	body{
    overflow: hidden;
	}
}

body{
  padding-bottom: 0;
  background-color: #fff;

  font-size: $fontSize;
  font-family: $fontFamily;
	color: $textColor;
	letter-spacing: $textLetterSpacing;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
	max-width: none;
	margin: auto !important;
}

@media screen and (min-width: $md-min-screen){
	.ismobile{
		display: none;
	}
}

.main-section {
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
}

_:-ms-lang(x),
body {
  display: block;
}

_:-ms-lang(x),
.main-section {
  min-height: 400px;
}

@supports (-ms-accelerator:true) {
	body {
	  display: flex;
	}
	.main-section {
  		min-height: inherit;
	}
}

header,
main,
footer{
    transition: all 0.3s;
}

.align-left {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.align-right {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.align-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.text-center{
	text-align: center;
	width: 100%;
}

.text-center:not(td):not(th){
	display: block !important;
}

.text-right{
	text-align: right;
	display: block !important;
	width: 100%;
}

.text-left{
	text-align: left;
	display: block !important;
	width: 100%;
}

.uppercase {
	text-transform: uppercase;
}

.btn{
	border: 0;
	padding: 10px 20px;
	border-radius: 0;
	font-size: $fontSize - 2;
	max-width: 100%;
	line-height: 20px / ($fontSize - 2);
	transition: all 0.3s;
	margin: 20px 20px 0 0;
	@media all and (max-width: $md-min-screen - 1){
		display: block;
		margin-right: 0;
	}

	&:only-child{
		margin-right:0;
	}

	&.btn-secondary{
		border-bottom: 0;
		background: $decoColor2;
		font-weight: 700;
		letter-spacing: 0.5px;
		color: #fff;
		min-width: 170px;
		border-radius: 5px;

		&:not(:disabled):not(.disabled).active,
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active:focus,
		&:not(:disabled):not(.disabled):active:focus,
		&:hover,
		&:focus{
			color: #fff;
			background: $decoColor;
			box-shadow: none;
		}
	}
}

.cc-left,
.cc-right{
	bottom: 1em;
	@media screen and (max-width: $md-min-screen - 1){
		bottom: 0;
	}
}

.frame-type-providerpackage_fourcolumns{
	&> .row > .col:nth-child(3),
	&> .row > .col:nth-child(4){
		.Skin img{
			transform: scaleX(-1);
		}
	}
}

.toanchor{
	cursor: pointer;
	transition: all 0.3s;

	&:hover,
	&:focus{
		color: $decoColor2;
	}
}

.simpleselect{
	width: 100%;
	max-width: 200px;

	.placeholder,
	.options .option,
	.options .optgroup .optgroup-label{
		font-weight: 700;
		color: #B5B5B5;
	}

	&> .options{
		max-height: 250px;
		overflow: auto;

		.option{
			&.active{
				background: $decoColor2;
			}
		}
	}
}

/*Boxview*/
.frame-type-providerpackage_configcontainer{
	padding:0;

	&> .wrap{
		position: relative;

		&>.background{
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			height: 100%;
			width: 100%;
			z-index: -1;
		}
	}
}

.contentelement{
	.container{
		padding:0 !important;
		max-width:none !important;
	}
	&:first-child .frame{
		margin-top:0 !important;
	}
	&:last-child .frame{
		margin-bottom:0 !important;
	}
}


@mixin boxview_Mixin($width) {
	@media screen and (min-width: $lg-min-screen) {
		padding-right: $lg-min-container - $width - 15px; //containerwidth - soll-breite
	}
	@media screen and (min-width: $xl-min-screen) {
		padding-right: $xl-min-container - $width - 15px; //containerwidth - soll-breite
	}
}

.fullWidth{
	padding-right:0 !important;
	padding-left:0 !important;
}

@media screen and (min-width: 880px){
	.smallerwidth{
		//max-width: 880px;
		//margin-left:0;
		@include boxview_Mixin(880px);
	}
}

@media screen and (min-width: 655px){
	.smallwidth{
		max-width: 655px;
	}
}

.row{
	&:before,
	&:after{
		width: 100%;
	}
}

.col-12{
	margin-top: $boxContentVerticalPaddingVerySmall / 2;
	margin-bottom: $boxContentVerticalPaddingVerySmall / 2;

	@media screen and (min-width: $sm-min-screen){
		&.col-sm-1,
		&.col-sm-2,
		&.col-sm-3,
		&.col-sm-4,
		&.col-sm-5,
		&.col-sm-6,
		&.col-sm-7,
		&.col-sm-8,
		&.col-sm-9,
		&.col-sm-10,
		&.col-sm-11{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	@media screen and (min-width: $md-min-screen){
		&.col-md-1,
		&.col-md-2,
		&.col-md-3,
		&.col-md-4,
		&.col-md-5,
		&.col-md-6,
		&.col-md-7,
		&.col-md-8,
		&.col-md-9,
		&.col-md-10,
		&.col-md-11{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	@media screen and (min-width: $lg-min-screen){
		&.col-lg-1,
		&.col-lg-2,
		&.col-lg-3,
		&.col-lg-4,
		&.col-lg-5,
		&.col-lg-6,
		&.col-lg-7,
		&.col-lg-8,
		&.col-lg-9,
		&.col-lg-10,
		&.col-lg-11{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	@media screen and (min-width: $xl-min-screen){
		&.col-xl-1,
		&.col-xl-2,
		&.col-xl-3,
		&.col-xl-4,
		&.col-xl-5,
		&.col-xl-6,
		&.col-xl-7,
		&.col-xl-8,
		&.col-xl-9,
		&.col-xl-10,
		&.col-xl-11{
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&:first-child{
		margin-top: 0;
	}
	&:last-child{
		margin-bottom: 0;
	}
}

@media screen and(min-width:768px){
	.col-md-1 ~ .col-md-10,
	.col-md-2 ~ .col-md-9,
	.col-md-3 ~ .col-md-8,
	.col-md-4 ~ .col-md-7,
	.col-md-5 ~ .col-md-6,
	.col-md-6 ~ .col-md-5,
	.col-md-7 ~ .col-md-4,
	.col-md-8 ~ .col-md-3,
	.col-md-9 ~ .col-md-2,
	.col-md-10 ~ .col-md-1{
		margin-left: 8.33333333%;
	}
}

@media screen and(max-width:767px){
	.col:first-child{
		&>.frame:last-child{
			margin-bottom:0;
		}
	}
}

/*gridelements_pi1Mixin*/
@mixin gridelements_pi1Mixin() {
	&.frame-type-gridelements_pi1{
		&> .row > .col > .frame{
			&:first-child{
				margin-top:0;
			}

			&:last-child{
				margin-bottom:0;
			}
		}
		@media screen and (max-width:992px) {
			&> .row > .col.col-md-4:not(:first-child):not(:nth-child(2)),
			&> .row > .col.col-lg-4:not(:first-child):not(:nth-child(2)),
			&> .row > .col.col-xl-4:not(:first-child):not(:nth-child(2)){
				margin-top:	$boxContentVerticalPaddingSmall;
			}
		}
	}
}
/*/gridelements_pi1Mixin*/

/*framespaceMixin*/
@mixin framespaceMixin($class,$value) {
	&.frame-space-after-#{$class} {
		margin-bottom: $value;

		&:first-child{
			.configcontainer{
				margin-top: $value * -1;
			}
		}

		&:last-child{
			.configcontainer{
				margin-bottom: $value * -1;
			}
		}
	}
	&.frame-space-before-#{$class}  {
		margin-top: $value;
	}
	&.frame-space-after-#{$class} + .frame {
		@if $class != standard{
			margin-top: $value;
		}

		/*nospace overrides all*/
		@if $class != nospace{
			&.frame-space-before-nospace{
				margin-top: $value * -1;
			}
		}

		/*extra-small overrides all bigger*/
		@if $class != extra-small{
			@if $class == nospace{
				&.frame-space-before-extra-small{
					margin-top: 0;
				}
			}
			@else{
				&.frame-space-before-extra-small{
					margin-top: ($value - $boxContentVerticalPaddingVerySmall) * -1;
				}
			}
		}

		/*small overrides all bigger*/
		@if $class != small{
			@if $class == nospace{
				&.frame-space-before-small{
					margin-top: 0;
				}
			}
			@else{
				@if $class != extra-small{
					&.frame-space-before-small{
						margin-top: ($value - $boxContentVerticalPaddingSmall) * -1;
					}
				}
			}
		}

		/*medium overrides all bigger*/
		@if $class != medium{
			@if $class == nospace{
				&.frame-space-before-small{
					margin-top: 0;
				}
			}
			@else{
				@if $class != extra-small{
					@if $class != small{
						&.frame-space-before-medium{
							margin-top: ($value - $boxContentVerticalPaddingSmall) * -1;
						}
					}
				}
			}
		}
		/*default; everything should override*/
		// &.frame-space-before-standard when not ($class = standard) {
		// }
		/*the largest, everything can override*/
		// &.frame-space-before-large when not ($class = large){
		// }
	}
}
/*/framespaceMixin*/

.content .frame {
	padding-top:0;
	padding-bottom:0;

	@include framespaceMixin(standard,$boxContentVerticalPadding);

  @include gridelements_pi1Mixin();

	@include framespaceMixin(nospace,$boxContentVerticalPaddingNone);
	@include framespaceMixin(large,$boxContentVerticalPaddingBig);
	@include framespaceMixin(medium,$boxContentVerticalPadding);
	@include framespaceMixin(small,$boxContentVerticalPaddingSmall);
	@include framespaceMixin(extra-small,$boxContentVerticalPaddingVerySmall);
}

.news-single .frame{
	padding-top:0;
	padding-bottom:0;

	@include framespaceMixin(standard,$boxContentVerticalPaddingSmall);

    @include gridelements_pi1Mixin();

	@include framespaceMixin(nospace,$boxContentVerticalPaddingNone);
	@include framespaceMixin(large,$boxContentVerticalPaddingBig);
	@include framespaceMixin(medium,$boxContentVerticalPadding);
	@include framespaceMixin(small,$boxContentVerticalPaddingSmall);
	@include framespaceMixin(extra-small,$boxContentVerticalPaddingVerySmall);
}

/*/Boxview*/

.fancybox-container{
	.fancybox-slide--video .fancybox-content {
		width  : 800px;
		height : 600px;
		max-width  : 100%;
		max-height : calc( 100% - 100px );
		margin: 50px 0;
		overflow: visible;
		background: #000;
	}

	.fancybox-custom-caption {
		color: white;
		padding: 20px 0;
		position: absolute;
		bottom: 0;
		transform: translateY(100%);
		text-align: center;
		width: 100%;
		font-size: $fontSize - 1;
		letter-spacing: -0.47px;
		font-weight: bold;
	}

	.fancybox-button--close{
		width: 50px;
		height: 50px;
		background: #fff;
		color: $textColor;
		border-radius: 50%;
		top: 25px;
		right: 25px;

		svg{
			height: 22px;
		}
	}

	.fancybox-button.custom {
		position: absolute;
		width: 50px;
		height: 50px;
		background: #fff;
		text-align: center;
		line-height: 44px;
		color: $textColor;
		text-decoration: none;
		border-radius: 50%;
		font-size: 18px;
		top: 50%;
		margin-top: -22px;
		line-height: 25px;
		text-align: center;

		i{
			width: 5px;
		}

		&.fancybox-button--arrow_left {
			left: calc(-50px - 5vw);
			@media screen and (max-width: $md-min-screen - 1){
				left: 15px;
			}

			i{
				margin-right: 3px;
			}
		}

		&.fancybox-button--arrow_right {
			right: calc(-50px - 5vw);
			@media screen and (max-width: $md-min-screen - 1){
				right: 15px;
			}
		}
	}
}

/*km-form*/

#km_form_wrapper{
    letter-spacing: 0.5px;
    font-size: $fontSize - 2;

    .km_row{
        padding-top: 10px;
        padding-bottom: 10px;

        .km_label, .km_input{
            float: none;
            width: 100%;
            max-width: 500px;
        }

        .km_label{
            margin-bottom: 10px;
            margin-top: 0;
        }

        .km_input{
            input[type="text"],
            select{
                margin: 0;
                border: solid 1px #eaecef;
                border-radius: 0;
                outline: 0;
                color: #464646;
                width: 100%;
                height: 40px;
                padding-left: 15px;
                padding-right: 15px;
                transition: all 0.3s;

                &.filled,
                &:hover,
                &:focus {
                    border: solid 1px $decoColor2;
                }
            }

            input[type="text"]{

            }

            .scroll_checkboxes{

            }
        }

        button{
            color: $decoColor;
            background: none;
            border-radius: 0;
            padding: 0 15px;
            min-width: 123px;
            height: 40px;
            border: 1px solid #E6E6E6;
            margin: 0 auto;
            outline: 0;
            cursor: pointer;
            transition: all 0.3s;
            font-weight: bold;
            text-shadow: none;
            box-shadow: none;
            letter-spacing: 0;

            &:hover,
            &:focus{
                background: $decoColor2;
                color: #fff;
                text-shadow: none;
                border: 1px solid #E6E6E6;
                box-shadow: none;
            }
        }

        &#km_row_maillists{
            padding-top: 15px;
            padding-bottom: 15px;

            #km_form_maillinglists{
                width: 100%;
            }
        }

        &#km_row_privacy{
            position: relative;
            margin: 40px 0;

            label{
                position: absolute;
                left: 0;
                margin-top: 2px;
            }

            #km_privacy_text{
                padding-left: 30px;
            }
        }
    }
}

/*//km-form*/

/*translateTool*/

#google_translate_element{
    //padding:0;

    .goog-te-gadget{
        letter-spacing: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;

        .goog-te-gadget-simple{
            padding: 0;
            font-size: inherit;
            background: none;
            border: none;
            position: relative;
            padding-left: 20px;
            line-height: 1;

            &:before{
                content: "\f1a0";
                font-family: Font Awesome\ 5 Brands;
                border: 1px solid #fff;
                color: inherit;
                position: absolute;
                left: 0;
                width: 16px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                font-weight: 100;
            }

            .goog-te-gadget-icon{
                display: none;
            }

            .goog-te-menu-value{
                color: inherit;

                img,
                span:not(:first-child):not(:last-child){
                    display: none;
                }

                span{
                    color: inherit !important;
                    margin-right: 2px;
                }
            }
        }
    }
}

/*//translateTool*/
