.blog-post-s3t1-spacing {
    padding: var(--py-blog-post);
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap-blog-post-btwn-text-and-img-section);
}

.blog-post-2col-3row-text-section {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    justify-content: flex-start;

    width: 92%;
}

.blog-post-2col-3row-text-section .blog-post-section-subtitle {
    font-family: var(--curvy-font-family-steak);
    font-size: var(--blog-post-section-subtitle-lg);
    color: var(--normal-blue);
    font-weight: var(--font-medium);

    margin: 0;
}

.blog-post-2col-3row-text-section .blog-post-section-title-para {
    font-family: var(--base-font-family);
    /* ---------------------------- */
    font-size: var(--blog-post-section-tite-para-lg);
    /* ---------------------------- */
    line-height: var(--blog-post-section-tite-para-lg-line-height);
    font-weight: var(--font-medium);
    color: var(--light-gray-text-color);

    margin: 0;
}

/* ------------------------------------------------------------------------ */

.cards-arr-up-down-2col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* --------------- */
    row-gap: var(--row-gap-blog-post);
    /* --------------- */
}

.cards-lg-ht-spacing:nth-child(2n+1) {
    /* --------------- */
    margin-top: var(--mt-blog-post);
    /* --------------- */
    /* background-color: burlywood; */
}

.cards-lg-ht-spacing {
    /* --------------- */
    width: var(--width-blog-post);
    /* --------- */
}

.card-outer-flex-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.card-image-area img,
.card-img {
    width: 100%;
    height: var(--height-blog-post-img);
    object-fit: cover;
    border-radius: 12px;
}

.card-text-area {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.card-subtitle,
.card-title {
    margin: 0;
    line-height: 1.5;
}

.card-subtitle {
    font-family: var(--curvy-font-family-steak);
    font-size: var(--card-subtitle-lg);
    color: var(--normal-blue);
    font-weight: var(--font-medium);
}

.card-title {
    font-size: var(--card-title-lg);
    color: var(--light-gray-text-color);
    font-weight: var(--font-bold);
}

/* --------------------------------------------------------------- */
.cards-row-galry {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: 40px;
}

.cards-row-galry .cards-width-box {
    width: var(--width-of-cards-in-row-galry);
}

.cards-row-galry .cards-width-box .card-img {
    height: var(--height-of-cards-in-row-galry);
}

.cards-row-galry .card-image-area {
    height: 100%;
}

.cards-row-galry-section  {
    position: relative;
    padding-bottom: 80px;
}

.bg-color-top-div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    z-index: -5;
    background-color: var(--medium-blue);
}

.bg-color-bottom-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: -5;
    background-color: #e6f3fa;
}

.cards-row-galry-section .blog-post-section-title-para, 
.cards-row-galry-section .blog-post-section-subtitle {
    color: white;
   
}