/* navbar Custom CSS */

.header {
    font-family: Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0px 10px;
    /* logo and menubar */
}


ul.nav-menubar {
    list-style: none;
    /* to remove :: bullets ahead of li */

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    /* menubar and humburger Icon */

    row-gap: 16px;
    column-gap: 32px;
}

li.nav-item {
    padding: 8px 0;
}

li.nav-item.nav-btn {
    --nav-btn-bg-color: #daf0fd;
    --nav-btn-color: #2f94cb;


    padding: 10px 20px;
    background-color: #daf0fd;
    border-radius: 8px;
}

li.nav-item.nav-btn .nav-link {
    color: #2f94cb;
}


a.nav-link {
    text-decoration: none;
    /* to remove :: underline below of text */

    color: black;
    /* ----------------------- */
    font-size: 16px;
    /* --menu-font-size: var(--base-font-size); */
    /* ----------------------- */
    font-weight: 600;
    /* --menu-font-weight: var(--font-semibold); */
}

/* 
@media screen and (min-width: 1400px) {
    a.nav-link {
        font-size: 18px;
    }

}

@media screen and (max-width: 1400px) {
    a.nav-link {
        font-size: 16px;
    }

}
    */

@media screen and (min-width: 1200px) {
    .navbar-logo {
        margin-top: 5px;
        margin-bottom: -50px;

        background: white;
        padding: 0 20px 10px 20px;
        border-radius: 12px;

        position: relative;
        z-index: 100;
    }
}


@media screen and (max-width: 992px) {

    .navbar-logo img {
        width: 64px;
        height: 64px;
    }


    .navbar {
        flex-wrap: wrap;
    }

    .nav-menubar-outer-box {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    ul.nav-menubar {
        padding-inline-start: 20px;
        flex-direction: column;
        align-items: flex-start;

        row-gap: 16px;
    }

    .nav-menubar-outer-box {
        width: 100%;
    }

    /* ------------------------- */
    .nav-menubar-outer-box,
    .nav-open-icon,
    .nav-close-icon {
        display: none;
    }

    .nav-menubar-outer-box.show {
        display: block;
    }

    .nav-close-icon.show,
    .nav-open-icon.show {
        display: inline-block;
    }

    .nav-menubar-outer-box {
        max-height: calc(100vh - 92px);
        /* max-height: calc(100vh - var(--header-height)); */
        overflow: scroll;
        padding-bottom: 20px;
    }

    .nav-item {
        padding: 0;
        height: 42px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    li.nav-item.nav-btn {
        width: auto;
    }

    /* ------------------------- */

}


.navbar-toggle-btn {
    display: none;
}

.nav-close-icon {
    display: none;
}

.nav-open-icon,
.nav-close-icon {
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 992px) {
    .navbar-toggle-btn {
        display: block;
    }


}

/* navbar Custom CSS */