.navbar-toggle-btn {
    display: none;
}

.nav-close-icon {
    display: none;
}

.nav-open-icon,
.nav-close-icon {
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 992px) {
    .navbar-toggle-btn {
        display: block;
    }


}