body {
    margin: 0px;
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
}

.px-5 {
    padding-left: 20px;
    padding-right: 20px;
}

.h-100 {
    height: 100%;
}

@media screen and (min-width: 1400px) {
    .px-xl-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

.py-10 {
    padding: 80px 0;
}

.pb-8 {
    padding-bottom: 80px;
}

.img-fit-to-box {
    width: 100%;
    height: 100%;
}


/* ------------------------------------------------- */
.hero-section-p1 {
    position: relative;
    margin-top: calc(var(--header-height));
    width: 100%;
}

.hero-section-p1 .img-outer-box {
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--mobile-offset-dec-height-p1));
    overflow: hidden;
}


.hero-section-p1 .img-outer-box img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;

    /* ----------------------------- */
    filter: brightness(0.6);
    /* ----------------------------- */
}



.hero-section-p1 .img-outer-box .img-text {
    position: absolute;
    /* --------------- */
    bottom: 10%;
    /* --------------- */
    right: 0;
    left: 0;

    padding-left: var(--pl-full-img-title-lg);

    width: calc(100% - var(--pl-full-img-title-lg) - (var(--pl-full-img-title-lg) ));
    /* 100% - 8%(left-padding) - 4% (right-padding) = 88%  */


    z-index: 250;
    color: white;
}

.hero-section-p1 .img-outer-box .img-text .img-title {
    font-size: var(--full-img-title-lg);
    margin: 12px 0 16px 0;

    display: inline-flex;
    flex-wrap: wrap;

    width: 100%;
    max-height: 100px;
    /* 44px *2 = 88 + (44/4) = 88+22 = 99px (max 2 lines)*/
    overflow-x: clip;
    overflow-y: hidden;
}

.hero-section-p1 .img-outer-box .img-text .img-subtitle {
    font-family: var(--curvy-font-family-steak);
    font-size: var(--full-img-subtitle-lg);
    font-weight: 400;
    margin: 0;
}



.hero-section-p1 .img-outer-box .img-text .img-para {
    font-size: var(--full-img-para-lg);
    font-weight: var(--full-img-para-font-weight);
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* ------------------------------------------------------------------ */

.hero-section-p2 {
    display: flex;
    flex-direction: var(--flex-dir-hero-section-p2);
    flex-wrap: nowrap;
}

.hero-section-p2 .img-outer-box,
.hero-section-p2 .img-outer-box {
    width: var(--half-img-p2-width);
    position: relative;
}



.hero-section-p2 .img-outer-box img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center center;


    /* ----------------------------- */
    filter: brightness(0.65);
    /* ----------------------------- */
}

.hero-section-p2 .img-outer-box .img-text {
    position: absolute;
    left: 0;
    /* --------------- */
    padding-left: var(--half-img-pl);
    bottom: var(--img-bottom-for-text-position);
    /* --------------- */

    width: calc(100% - var(--half-img-pl) - (var(--half-img-pl)/ 2));
    /* 100% - 8%(left-padding) - 4% (right-padding) = 88%  */

    max-height: 80%;
    /* z-index: 250; */

    color: white;
}


.hero-section-p2 .img-outer-box .img-text .img-title {
    display: inline-flex;
    font-size: var(--half-img-title-lg);
    margin: 12px 0 16px 0;

    width: 100%;
    max-height: 100px;
    /* 44px *2 = 88 + (44/4) = 88+22 = 99px (max 2 lines)*/
    overflow-x: clip;
    overflow-y: hidden;
}

.hero-section-p2 .img-outer-box .img-text .img-subtitle {
    font-size: var(--half-img-subtitle-lg);
    /* 36px */
    margin: 0;
    font-family: var(--curvy-font-family-steak);
    font-weight: 400;

    max-height: 90px;
    /* 36*2 + 18 = 90px (2 lines) */
    overflow: hidden;
}

.hero-section-p2 .img-outer-box .img-text .img-para {
    font-size: var(--half-img-para-lg);
    line-height: 2;
    font-weight: 600;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 8px;

    /* max-height: 80px; */
    max-height: calc(var(--half-img-para-lg)* 2 *2);
    /* font-size * line-height *2 = 80px (2lins) */
    overflow: hidden;
}


/* ------------------------------------------------------------------- */

.hero-section-p3 {
    display: flex;
    flex-direction: var(--flex-dir-hero-section-p2);
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: hidden;
}

.hero-section-p3 .img-outer-box {
    width: var(--one-third-img-p3-width);
    position: relative;
}


.hero-section-p3 .img-outer-box img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center center;


    /* ----------------------------- */
    filter: brightness(0.65);
    /* ----------------------------- */
}



.hero-section-p3 .img-outer-box .img-text {
    position: absolute;
    left: 0;
    /* --------------- */
    padding-left: var(--one-third-img-pl);
    bottom: var(--img-bottom-for-text-position);
    /* --------------- */

    width: calc(100% - var(--one-third-img-pl) - (var(--one-third-img-pl)/ 2));
    /* 100% - 8%(left-padding) - 4% (right-padding) = 88%  */

    max-height: 80%;
    /* z-index: 250; */

    color: white;
}



.hero-section-p3 .img-outer-box .img-text .img-title {
    display: inline-flex;
    font-size: var(--one-third-img-title-lg);
    margin: 12px 0 16px 0;

    width: 100%;
    max-height: 100px;
    /* 44px *2 = 88 + (44/4) = 88+22 = 99px (max 2 lines)*/
    overflow-x: clip;
    overflow-y: hidden;
}

.hero-section-p3 .img-outer-box .img-text .img-subtitle {
    font-size: var(--one-third-img-subtitle-lg);
    /* 36px */
    margin: 0;
    font-family: var(--curvy-font-family-steak);
    font-weight: 400;

    max-height: 90px;
    /* 36*2 + 18 = 90px (2 lines) */
    overflow: hidden;
}



.hero-section-p3 .img-outer-box .img-text .img-para {
    font-size: var(--one-third-img-para-lg);
    line-height: 2;
    font-weight: 600;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 8px;

    /* max-height: 80px; */
    max-height: calc(var(--one-third-img-para-lg)* 2 *2);
    /* font-size * line-height *2 = 80px (2lins) */
    overflow: hidden;
}