body {
    margin: 0px;
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
}

.px-5 {
    padding-left: 20px;
    padding-right: 20px;
}

.h-100 {
    height: 100%;
}

.pt-20 {
    padding-top: 80px;
}

.pb-10 {
    padding-bottom: 40px;
}

@media screen and (min-width: 1400px) {
    .px-xl-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

.py-10 {
    padding: 80px 0;
}

.pb-8 {
    padding-bottom: 80px;
}

.img-fit-to-box {
    width: 100%;
    height: 100%;
}

a:focus {
    color: black;
}

.bg-gray {
    background: rgb(231, 243, 250);
}


hr.gray-line {
    border-top: 1px solid rgb(221, 221, 221);
}

/* ------------------------------------------------- */
.hero-section-p1 {
    position: relative;
    margin-top: calc(var(--header-height));
    width: 100%;
}

.hero-section-p1 .img-outer-box {
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--mobile-offset-dec-height-p1));
    overflow: hidden;
}


.hero-section-p1 .img-outer-box img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;

    /* ----------------------------- */
    filter: brightness(0.6);
    /* ----------------------------- */
}



.hero-section-p1 .img-outer-box .img-text {
    position: absolute;
    /* --------------- */
    bottom: 10%;
    /* --------------- */
    right: 0;
    left: 0;

    padding-left: var(--pl-full-img-title-lg);

    width: calc(100% - var(--pl-full-img-title-lg) - (var(--pl-full-img-title-lg)));
    /* 100% - 8%(left-padding) - 4% (right-padding) = 88%  */


    z-index: 250;
    color: white;
}

.hero-section-p1 .img-outer-box .img-text .img-title {
    font-size: var(--full-img-title-lg);
    margin: 12px 0 16px 0;

    display: inline-flex;
    flex-wrap: wrap;

    width: 100%;
    max-height: 100px;
    /* 44px *2 = 88 + (44/4) = 88+22 = 99px (max 2 lines)*/
    overflow-x: clip;
    overflow-y: hidden;
}

.hero-section-p1 .img-outer-box .img-text .img-subtitle {
    font-family: var(--curvy-font-family-steak);
    font-size: var(--full-img-subtitle-lg);
    font-weight: 400;
    margin: 0;
}



.hero-section-p1 .img-outer-box .img-text .img-para {
    font-size: var(--full-img-para-lg);
    font-weight: var(--full-img-para-font-weight);
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* ------------------------------------------------------------------ */

.hero-section-p2 {
    display: flex;
    flex-direction: var(--flex-dir-hero-section-p2);
    flex-wrap: nowrap;
}

.hero-section-p2 .img-outer-box,
.hero-section-p2 .img-outer-box {
    width: var(--half-img-p2-width);
    position: relative;
}



.hero-section-p2 .img-outer-box img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center center;


    /* ----------------------------- */
    filter: brightness(0.65);
    /* ----------------------------- */
}

.hero-section-p2 .img-outer-box .img-text {
    position: absolute;
    left: 0;
    /* --------------- */
    padding-left: var(--half-img-pl);
    bottom: var(--img-bottom-for-text-position);
    /* --------------- */

    width: calc(100% - var(--half-img-pl) - (var(--half-img-pl)/ 2));
    /* 100% - 8%(left-padding) - 4% (right-padding) = 88%  */

    max-height: 80%;
    /* z-index: 250; */

    color: white;
}


.hero-section-p2 .img-outer-box .img-text .img-title {
    display: inline-flex;
    font-size: var(--half-img-title-lg);
    margin: 12px 0 16px 0;

    width: 100%;
    max-height: 100px;
    /* 44px *2 = 88 + (44/4) = 88+22 = 99px (max 2 lines)*/
    overflow-x: clip;
    overflow-y: hidden;
}

.hero-section-p2 .img-outer-box .img-text .img-subtitle {
    font-size: var(--half-img-subtitle-lg);
    /* 36px */
    margin: 0;
    font-family: var(--curvy-font-family-steak);
    font-weight: 400;

    max-height: 90px;
    /* 36*2 + 18 = 90px (2 lines) */
    overflow: hidden;
}

.hero-section-p2 .img-outer-box .img-text .img-para {
    font-size: var(--half-img-para-lg);
    line-height: 2;
    font-weight: 600;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 8px;

    /* max-height: 80px; */
    max-height: calc(var(--half-img-para-lg)* 2 *2);
    /* font-size * line-height *2 = 80px (2lins) */
    overflow: hidden;
}


/* ------------------------------------------------------------------- */

.hero-section-p3 {
    display: flex;
    flex-direction: var(--flex-dir-hero-section-p2);
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: hidden;
}

.hero-section-p3 .img-outer-box {
    width: var(--one-third-img-p3-width);
    position: relative;
}


.hero-section-p3 .img-outer-box img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center center;


    /* ----------------------------- */
    filter: brightness(0.65);
    /* ----------------------------- */
}



.hero-section-p3 .img-outer-box .img-text {
    position: absolute;
    left: 0;
    /* --------------- */
    padding-left: var(--one-third-img-pl);
    bottom: var(--img-bottom-for-text-position);
    /* --------------- */

    width: calc(100% - var(--one-third-img-pl) - (var(--one-third-img-pl)/ 2));
    /* 100% - 8%(left-padding) - 4% (right-padding) = 88%  */

    max-height: 80%;
    /* z-index: 250; */

    color: white;
}



.hero-section-p3 .img-outer-box .img-text .img-title {
    display: inline-flex;
    font-size: var(--one-third-img-title-lg);
    margin: 12px 0 16px 0;

    width: 100%;
    max-height: 100px;
    /* 44px *2 = 88 + (44/4) = 88+22 = 99px (max 2 lines)*/
    overflow-x: clip;
    overflow-y: hidden;
}

.hero-section-p3 .img-outer-box .img-text .img-subtitle {
    font-size: var(--one-third-img-subtitle-lg);
    /* 36px */
    margin: 0;
    font-family: var(--curvy-font-family-steak);
    font-weight: 400;

    max-height: 90px;
    /* 36*2 + 18 = 90px (2 lines) */
    overflow: hidden;
}



.hero-section-p3 .img-outer-box .img-text .img-para {
    font-size: var(--one-third-img-para-lg);
    line-height: 2;
    font-weight: 600;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 8px;

    /* max-height: 80px; */
    max-height: calc(var(--one-third-img-para-lg)* 2 *2);
    /* font-size * line-height *2 = 80px (2lins) */
    overflow: hidden;
}








/* -------------------------------------- */

.cta-container {
    width: 75%;
    margin: auto;
    margin-top: 160px;
    margin-bottom: -320px;
    border-radius: 12px;
}

.cta-flex-box {
    /* background-color:  #8dd7ff; */
    background: linear-gradient(91.9deg, #72b6dc 6.3%, #3999ce 98.9%);
    padding: 60px 0 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 16px;
    border-radius: 16px;

    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.cta-subtitle {
    font-family: var(--curvy-font-family-nice);
    font-size: 36px;
    font-weight: 600;
}

.cta-title {
    font-family: Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 700;
}


.cta-email-register-box {
    margin-top: 12px;
    width: 75%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}


.cta-email-register-box .form-submit-btn-box .form-submit {
    width: max-content;
    padding: 0 32px;

    background-color: #78b9dd;
    color: white;
    font-weight: 600;

}

.cta-container .form-input-box {
    border: none;
}


footer {
    min-height: 300px;
}

.ft-flex-box {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    align-items: flex-start;
}

.ft-group {
    width: calc(25% - 24px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
}

.ft-group-title {
    font-size: 24px;
    font-weight: 600;
}

.ft-ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4px;
}

.ft-item {
    font-size: 20px;
    line-height: 1.75;
    font-weight: 500;
}

.ft-address {
    width: 80%;
}

.ft-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.ft-contact-link {
    color: black;
    font-size: 20px;
    font-weight: 500;
}


@media screen and (max-width: 992px) {
    .ft-group {
        width: calc(33.33% - 24px);
    }

}


@media screen and (max-width: 768px) {

    .ft-group {
        width: calc(50% - 24px);
    }
}


@media screen and (max-width: 576px) {
    .ft-group {
        width: 100%;
    }

}